      <div class="jumbotron">
       <img src="http://fs.jtbc.joins.com/prog/drama/manxman/img/site/Main/20170420191100.jpg" width="100%" />
        <h1>맨투맨</h1>
        <p class="lead"> 현재방영중</p>
        <span class="star-rating">
          <input type="radio" name="rating" value="1"><i></i>
          <input type="radio" name="rating" value="2"><i></i>
          <input type="radio" name="rating" value="3"><i></i>
          <input type="radio" name="rating" value="4"><i></i>
          <input type="radio" name="rating" value="5"><i></i>
        </span>
<strong class="choice">Choose a rating</strong>
        <p><a class="btn btn-lg btn-success" href="#" role="button">자세히보기</a></p>
      </div>

<div class="row marketing">
    <div class="col-md-6"> 
        <img src="http://ph.mediatoday.co.kr/news/photo/201609/132278_178912_0613.jpg" class="img-thumbnail" width="320" />       
        <span class="star-rating small">
          <input type="radio" name="rating" value="1"><i></i>
          <input type="radio" name="rating" value="2"><i></i>
          <input type="radio" name="rating" value="3"><i></i>
          <input type="radio" name="rating" value="4"><i></i>
          <input type="radio" name="rating" value="5"><i></i>
        </span>
        <h4>무한도전</h4>
        <p><a class="btn btn-lg btn-success" href="#" role="button">자세히보기</a></p>
    </div>
    
    <div class="col-md-6"> 
        <img src="http://ph.mediatoday.co.kr/news/photo/201609/132278_178912_0613.jpg" class="img-thumbnail" width="320" />       
        <span class="star-rating small">
          <input type="radio" name="rating" value="1"><i></i>
          <input type="radio" name="rating" value="2"><i></i>
          <input type="radio" name="rating" value="3"><i></i>
          <input type="radio" name="rating" value="4"><i></i>
          <input type="radio" name="rating" value="5"><i></i>
        </span>
        <h4>무한도전</h4>
        <p><a class="btn btn-lg btn-success" href="#" role="button">자세히보기</a></p>
    </div>
    
    <div class="col-md-6"> 
        <img src="http://ph.mediatoday.co.kr/news/photo/201609/132278_178912_0613.jpg" class="img-thumbnail" width="320" />       
        <span class="star-rating small">
          <input type="radio" name="rating" value="1"><i></i>
          <input type="radio" name="rating" value="2"><i></i>
          <input type="radio" name="rating" value="3"><i></i>
          <input type="radio" name="rating" value="4"><i></i>
          <input type="radio" name="rating" value="5"><i></i>
        </span>
        <h4>무한도전</h4>
        <p><a class="btn btn-lg btn-success" href="#" role="button">자세히보기</a></p>
    </div>
    
    <div class="col-md-6"> 
        <img src="http://ph.mediatoday.co.kr/news/photo/201609/132278_178912_0613.jpg" class="img-thumbnail" width="320" />       
        <span class="star-rating small">
          <input type="radio" name="rating" value="1"><i></i>
          <input type="radio" name="rating" value="2"><i></i>
          <input type="radio" name="rating" value="3"><i></i>
          <input type="radio" name="rating" value="4"><i></i>
          <input type="radio" name="rating" value="5"><i></i>
        </span>
        <h4>무한도전</h4>
        <p><a class="btn btn-lg btn-success" href="#" role="button">자세히보기</a></p>
    </div>
    
</div>
