<!DOCTYPE html>
<html>
<head>
  <!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href=https://bootswatch.com/slate/bootstrap.min.css>

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <title>방송평가서비스</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#">전체방송리스트</a></li>
            <li role="presentation"><a href="#">방송등록하기</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">방송평가서비스</h3>
      </div>

<%= yield %>
      <footer class="footer">
        <p>&copy; 2017 Likelion at WKU</p>
      </footer>

    </div> <!-- /container -->


</body>
</html>
